{% extends 'admin.html.twig' %}

{% block body %}
    <div class="box box-primary">
        <div class="col-md-6">
            <div class="box-header with-border">
                <h3 class="box-title">Post edit</h3>
            </div>
            <!-- form start -->
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <br>
            <form>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            </form>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
