{% extends 'admin.html.twig' %}

{% block body %}
    <div class="box box-primary">
        <div class="col-md-6">
            <div class="box-header with-border">
                <h3 class="box-title">Post creation</h3>
            </div>
            <!-- form start -->
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <form>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



